---
const {title, subhead, desc, image, link, link2} = Astro.props
---

<article
  class="p-2 rounded-lg border border-darkerGray shadow-sm transition hover:shadow-md hover:shadow-green sm:p-6  m-4 lg:w-2/5 md:w-5/6 w-full"
>
  <a href={link} class="relative block h-60 overflow-hidden rounded" target="_blank">
    <img alt="image" class="block h-full w-full object-cover object-center cursor-pointer" src={image} />
  </a>

  <h3 class="mt-4 text-xs tracking-widest text-gray-500">{subhead}</h3>
  <a href={link} target="_blank" rel="noreferrer noopener">
    <h3 class="mt-0.5 font-fira text-lg font-medium text-gray-200">
      {title}
    </h3> 
  </a> 
  <p class="font-fira mt-2 text-sm leading-relaxed text-gray-400 line-clamp-3">
    {desc}    
  </p>
  <div class="text-center">
    <a
      href={link}
      target="_blank"
      rel="noreferrer noopener"
      class="cursor-pointer font-fira mr-10 group mt-4 inline-flex items-center gap-1 text-md lg:text-sm font-medium text-green"
    >
      Demo 

      <span
        aria-hidden="true"
        class="block transition group-hover:translate-x-0.5"
      >
        &rarr;
      </span>
    </a>
    <a
      href={link2}
      target="_blank"
      rel="noreferrer noopener"
      class="cursor-pointer font-fira group mt-4 inline-flex items-center gap-1 text-sm font-medium text-green"
    >
      GitHub

      <span
        aria-hidden="true"
        class="block transition group-hover:translate-x-0.5"
      >
        &rarr;
      </span>
    </a>
  </div>
</article>

